
  <!-- Main -->
  <div class="view-reg intro " style="">
    <div class="full-bg-img flex-center">
      <div class="container text-center white-text wow fadeInUp">

        <!--Register form-->
        <div class="row" style="margin-top: 200px">
          <div class="col-12 col-sm-6 col-lg-8 mx-auto z-depth-3 padding-top-bottom-10">
            <h3 class=" text-center padding-top-bottom-10  mx-auto" style="background-color: rgb(41, 118, 194); margin-bottom: 20px">Welcome to Logo</h3>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="md-form">
                <i class="fa fa-user prefix" style="float: left; position: relative; color: rgb(41, 118, 194)"></i>
                <input type="text" id="orangeForm-firstname" class="form-control" formControlName="firstname" required mdbActive>
                <label for="orangeForm-firstname">First Name</label>
              </div>

              <div class="md-form">
                <i class="fa fa-user prefix" style="float: left; position: relative; color: rgb(41, 118, 194)"></i>
                <input type="text" id="orangeForm-lastname" class="form-control" formControlName="lastname" required mdbActive>
                <label for="orangeForm-lastname">Last Name</label>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix" style="float: left; position: relative; color: rgb(41, 118, 194)"></i>
                <input type="text" id="orangeForm-email" class="form-control" formControlName="email" required mdbActive>
                <label for="orangeForm-email">Email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix" style="float: left; position: relative; color: rgb(41, 118, 194)"></i>
                <input type="password" id="orangeForm-pass" class="form-control" formControlName="password" required mdbActive>
                <label for="orangeForm-pass">Password</label>
              </div>

              <div class="text-center">
                <button class="btn waves-light" type="submit" mdbRippleRadius style="background-color: rgb(41, 118, 194)">Sign up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->



