
.padding-top-bottom-10{
  padding-top: 10px;
  padding-bottom: 10px;
}


.login-top{
  color: rgb(41, 118, 194);
}


//css for login page image and header starts here
.view-reg {
  //background-color: rgb(187, 236, 254);
  background-image: linear-gradient(rgb(41, 118, 194), rgb(187, 236, 254), rgb(255,255,255));
  background-size: cover;
}
.navbar {
  background-color: transparent;
}
//.top-nav-collapse {
//  background-color: #4285F4;
//}
//@media only screen and (max-width: 768px) {
//  .navbar {
//    background-color: #4285F4;
//  }
//}
//css for login page image and header ends here

//input.ng-invalid {
//  //border-left: red 5px solid;
//}
