.view-login {
  background-color: #2E5674;
  //background-image: linear-gradient(rgb(35, 72, 96), rgb(187, 236, 254), rgb(255,255,255));
  background-size: cover;
}
.padding-top-bottom-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-top{
  color: rgb(205, 103, 36);
}

.imbed-login {
  border-left: 1px solid #24435B;
  border-right: 1px solid #38678B;
  border-bottom: 1px solid #38678B;
  border-left: 1px solid #24435B;
  border-top: 1px solid #24435B;
}
